{{- $minimal := false -}}
{{- $headless := false -}}
{{- $secrets := false -}}
{{- $default_user := false -}}
{{- $workconf := false -}}
{{- $name := "" -}}
{{- $email := "" -}}
{{- $github_user := "" -}}

{{- if (env "CHEZMOI_SECRETS") }}
{{- $secrets = true }}
{{- else }}
{{- $secrets = promptBool "Use secrets (ssh/gpg)" }}
{{- end }}
{{- if (env "CHEZMOI_NAME") }}
{{- $name = (env "CHEZMOI_NAME") }}
{{- else }}
{{- $name = promptString "Name"}}
{{- end }}
{{- if (env "CHEZMOI_EMAIL") }}
{{- $email = (env "CHEZMOI_EMAIL") }}
{{- else }}
{{- $email = promptString "Email" }}
{{- end }}
{{- if (env "CHEZMOI_GITHUB_USER") }}
{{- $github_user = (env "CHEZMOI_GITHUB_USER") }}
{{- else }}
{{- $github_user = promptString "github user" }}
{{- end }}
{{- if (env "CHEZMOI_HEADLESS") }}
{{- $headless = true }}
{{- else }}
{{- if (env "ASK") }}
{{- $headless = promptBool "headless" -}}
{{- else }}
{{- $headless = false }}
{{- end }}
{{- end }}
{{- if (env "CHEZMOI_MINIMAL") }}
{{- $minimal = true }}
{{- else }}
{{- if (env "ASK") }}
{{- $minimal = promptBool "minimal" -}}
{{- else }}
{{- $minimal = false }}
{{- end }}
{{- end }}

{{- $gpg_keyid := "user_gpg_keyid" -}}

{{- if (env "PERCEE") -}}
{{- $name = "Mathieu Merino" -}}
{{- $email = "mmerino@outlook.fr" -}}
{{- $gpg_keyid = "0x7357E344D6C3C795" -}}
{{- $github_user = "Percee" -}}
{{- else }}
{{- end -}}

encryption: gpg
gpg:
  symmetric: true

data:
  secrets: {{ $secrets }}
  headless: {{ $headless }}
  minimal: {{ $minimal }}
  name: "{{ $name }}"
  email: "{{ $email }}"
  github_user: "{{ $github_user }}"
  gpg_keyid: {{ $gpg_keyid }}
  workconf: {{ $workconf }}
{{- if $secrets }}
  bitwarden:
    ssh_key: 9c017493-34b1-475d-a0b6-adda003f870b
    pgp_priv_signing: 573e99de-3b95-4fb4-afa4-ade600648bd4
    pgp_priv_encrypt: a6960156-86bc-4e4e-8179-ade600607808
    pgp_priv_authenticate: 03526945-8e85-4081-aa7a-ade600606d83
{{- end -}}

