{{- $minimal := false -}}
{{- $headless := false -}}
{{- $secrets := true -}}
{{- $workconf := false -}}

{{- $name := "Mathieu Merino" -}}
{{- $email := "mmerino@outlook.fr" -}}
{{- $gpg_keyid := "0x7357E344D6C3C795" -}}
{{- $github_user := "Percee" -}}

{{- if (env "CI") -}}
{{- $headless = true -}}
{{- $secrets = false -}}
{{- end -}}

{{- if (env "SECRETS_OFF") -}}
{{- $secrets = false -}}
{{- end -}}

{{- if (env "DOTFILES_MINIMAL") -}}
{{- $minimal = true -}}
{{- $secrets = false -}}
{{- end }}

{{- if (env "WORKCONF") -}}
{{- $workconf = true -}}
{{- end -}}

{{- if (env "ASK") }}
{{- $minimal = promptBool "minimal" -}}
{{- $workconf = promptBool "work config" -}}
{{- if $minimal -}}
{{- $secrets = false -}}
{{- else }}
{{- $secrets = promptBool "secrets" -}}
{{- end }}
{{- $name := promptString "full name" -}}
{{- $email := promptString "personal email" -}}
{{- end }}

data:
  secrets: {{ $secrets }}
  headless: {{ $headless }}
  minimal: {{ $minimal }}
  name: {{ $name }}
  email: {{ $email }}
  gpg_keyid: {{ $gpg_keyid }}
  github_user: {{ $github_user }}
  workconf: {{ $workconf }}
{{- if $secrets }}
  bitwarden:
    ssh_key: 9c017493-34b1-475d-a0b6-adda003f870b
    pgp_priv: 3020461a-d432-446a-a1a4-adda003e54d3
    github_repo_token: 1c01652c-4e75-46d6-ba89-adda003d338f
{{- end -}}
